* {
  box-sizing: border-box;
}

body {
  margin-left: 24px;
  margin-right: 24px;
}

/* logo and header */

#header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.first {
  color: darkslategrey;
}

.second {
  color: grey;
}

.logo {
  text-decoration: none;
  position: relative;
  bottom: 20px;
}

.colmar {
  position: relative;
  bottom: 60px;
  font-size: 32px;
  text-decoration: none;
}

/* navigation bar */

ul {
  list-style-type: none;
}

li {
  border-right: 16px solid turquoise;
  display: inline;
  padding-top: 17px;
  padding-bottom: 17px;
}

li:last-child {
  border-right: none;
}

li a {
  color: black;
  text-decoration: none;
  padding-top: 17px;
  padding-bottom: 17px;
}

li a:hover {
  background-color: lightgrey;
}

nav {
  float: right;
}

/* banner section */
#banner {
  background-color: lightgray;
  padding: 32px 24px;
}

.reading {
  vertical-align: middle;
}

.banner-text {
  display: inline-block;
  padding-left: 24px;
}

button {
  padding: 10px;
  display: inline-block;
  text-align: center;
  background-color: grey;
  color: white;
  width: 100%;
  font-size: 16px;
}

p {
  font-size: 18px;
}
